body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/background.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5; /* 20% transparency */
    z-index: -1; /* Ensure the image is behind the content */
}

.content {
    position: relative;
    z-index: 1; /* Ensure content is above the pseudo-element */
    /* Your content styles here */
}

.site-header {
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top */
    width: 80%;
    background-color: rgba(0, 90, 156, 70%); /* Adjusted for 80% transparency */
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
    overflow: hidden; /* Ensures the content is not overflowing */
}

.site-header .logo {
    font-weight: 700;
    font-size: 24px;
}

.site-nav a {
        float: left; /* Align links to the left */
        display: block; /* Display as block */
        color: #f2f2f2; /* Text color */
        text-align: center; /* Center text */
        padding: 14px 16px; /* Padding inside each link */
        text-decoration: none; /* No underline on links */
}

.site-nav a:hover {
    background-color: rgba(256, 256, 256, 20%); /* Hover color */
    color: black; /* Hover text color */
    border-radius: 10px;
}

.panels-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.panel {
    flex-basis: 30%; /* Adjust based on your preference */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.panel img {
    width: 100%;
    height: auto;
    display: block;
}

.panel h3 {
    color: #005A9C; /* Example color, adjust as needed */
}

.panel p {
    padding: 0 15px 20px;
    color: #666;
    background-color: rgba(240, 240, 240, 0.3);
}

.intro-panel {
    text-align: center;
    padding: 100px 20px; /* Adjust padding to suit your design */
    background-color: rgba(240, 240, 240, 0.3);
    margin-bottom: 30px; /* Space between intro panel and the panels container */
}

.intro-panel p {
    color: #666;
    max-width: 800px; /* Limits the width of the text for readability */
    margin: auto; /* Centers the text block horizontally */
}

.slogan-panel {
    flex-basis: 30%; /* Adjust based on your preference */
    text-align: center;
    font-size: 24px; /* Adjust size as needed */
    font-weight: bold;
    margin: 40px 20px; /* Adjust margin to control spacing */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white for slight see-through effect */
    border-radius: 8px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    color: #005A9C; /* Adjust the color to fit your brand */
}

.contact-panel {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background */
}

.map iframe {
    width: 100%;
    height: 400px; /* Adjust as needed */
}

.contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Adjust based on your preference */
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
}

.contact-form input[type=submit] {
    margin-top: 10px;
    background-color: #005A9C; /* Example primary color */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}