body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.background-image {
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/images/background.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure the image stays in the background */
    opacity: 0.2; /* Adjust the transparency */
}